[Unit]
Description=KataGo JSON analysis service
After=network.target

[Service]
Type=simple
WorkingDirectory=%h/KataGo
ExecStart=%h/KataGo/serve.py --host 127.0.0.1 --port 2388 --katago %h/KataGo/.bin/katago --model %h/KataGo/models/latest.bin.gz --config %h/KataGo/config/analysis.cfg
Restart=always

[Install]
WantedBy=default.target
